<div class="tech-btm">
  
    <h5>  Hemen ücretsiz üye olun ve yeni güncellemelerden haberdar olan ilk kişi olun.</h5>
    <form method="post">
        <input type="email" id="txtMail" placeholder="Email" required="" name="Mail">
        <input type="submit" id="btn" value="Abone ol">
    </form>
</div>
